.wrapper{
    @apply max-w-[1500px];
    @apply flex flex-col;
    @apply w-full;
    @apply mx-auto;
    @apply py-6 px-20;
    @apply mt-20;

    h1{
        @apply mt-1;
        @apply text-4xl; 
        @apply font-bold; 
        @apply uppercase;
        @apply text-gray-900; 
        @apply sm:text-5xl sm:tracking-tight; 
        @apply lg:text-5xl;
    }
}

.allCart{
    @apply flex gap-20;
}

.lineItems{
    @apply flex flex-col gap-4;
    @apply max-w-[500px];
    @apply flex-[1];

    .lineItem{
        @apply border-b-2 border-black;
        @apply flex gap-8;
        @apply w-full;
        @apply p-6;

        &:last-of-type{
            @apply border-b-0;
        }
    }
}

.lineItem_Media{
    @apply relative;
    @apply w-[200px];
    @apply h-[200px];
}

.lineItem_Info{
   @apply flex flex-col justify-center gap-3;
}

.cartSummary{
    @apply flex-[1];
    @apply flex flex-col items-center justify-center;
    @apply bg-black;
    @apply text-white;
    @apply p-6;

    .title{
        @apply text-[2rem];

        &:last-of-type{
            @apply mb-6;
        }
    }
}

.button{
    @apply bg-white;
    @apply text-black;
    @apply px-6 py-2;
    @apply mb-8;
    @apply text-[2rem];
    @apply border-2 border-black;
    @apply min-w-[350px];
    @apply text-center;
    transition: all .4s ease;

    &:hover{
        @apply bg-black;
        @apply text-white;
        @apply border-2 border-white;
        transition: all .4s ease;
    }
}

.loading{
    @apply fixed;
    @apply bottom-0 left-0 right-0 top-[150px];
    @apply w-screen h-screen;
    @apply bg-white;
    z-index: 10;
    @apply max-w-[1500px];
    @apply flex flex-col;
    @apply mx-auto;
    @apply py-6 px-20;
}

.dangerPrompt{
    @apply uppercase;
    @apply text-[red];
    @apply font-black;
    @apply underline;
    @apply cursor-pointer;
}